<!DOCTYPE html>
<html>

<head>
	<meta charset="utf-8">
	<title>RegistrationForm_v4 by Colorlib</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<!-- STYLE CSS -->
	<link rel="stylesheet" href="/css/style.css">
</head>

<body>

	<div class="wrapper">
		<div class="inner">
			<div class="image-holder">
				<img src="/registration-form-4.jpg" alt="">
			</div>
			<form action="">
				<h3>Sign in</h3>
				
				<div class="form-holder">
					<input type="text" name="email" placeholder="e-mail" class="form-control">
                    <div class="emailerror text-danger"></div>
				</div>
                
				<div class="form-holder">
					<input type="password" name="password" placeholder="Password" class="form-control" style="font-size: 15px;">
                </div>
				<div class="checkbox">
					<label>
						<input type="checkbox" > I agree all statement in <a href="#">Terms & Conditions</a>
						<span class="checkmark"></span>
					</label>
				</div>
                <div class="passworderror text-danger"></div>
				<div class="form-login">
					<button type="submit">Sign in</button>
					<p>Don't Have account? <a href="/signup">Sign up</a></p>
				</div>
			</form>
		</div>
	</div>

	<script src="/js/jquery-3.3.1.min.js"></script>
	<script src="/js/main.js"></script>
    <script>
            const form = document.querySelector('form');
            const emailError = document.querySelector('.emailerror');
            const passwordError = document.querySelector('.passworderror');
            
            form.addEventListener('submit', async (e)=>{
                e.preventDefault();
                //reset errors
                emailError.textContent =  '';
                passwordError.textContent = '';
                const email = form.email.value;
                const password = form.password.value;
                //console.log(email,password);
                try{
                  const result = await fetch('/signin', {
                    method:'POST',
                    body:JSON.stringify({email,password}),
                    headers:{'Content-Type':'application/json'}
                  });
                  const data = await result.json();
                  
                  if(data.errors){
                        emailError.textContent =  data.errors.email;
                        passwordError.textContent = data.errors.password;
                  }else{
                      console.log(data);
                  form.email.value="";
                  form.password.value="";
                  location.assign('/');
                  }
                  
                }catch(err){
                    console.log(err);
                }
                
            });
</script>
</body><!-- This templates was made by Colorlib (https://colorlib.com) -->

</html>